body {
	background-color:black!important;
	
}

.ss_body {
	postion:absolute!important;
	margin:0px!important;
	padding:0px!important;
	overflow: hidden!important;
	font-family: georgia;
	
}

.ss_page {
	position: absolute;
	top: 0px!important;
	padding: 0px;
	padding-left : 30px;
	padding-right: 30px;
	overflow: hidden;
	margin: 0px;
	background: white;
	line-height: 1.5!important;
	text-align: justify;
	color: #000022;
	background-color: #f8f8f8;
	margin-top: 30px!important;
	
	
}

.ss_page div {
	margin-bottom: 2ex;
}

.ss_page h1 {
	line-height: 1.2!important;
	font-family: Arial, "Times New Roman";
	text-align: left;
	font-size: x-large;
	
}
.ss_page :last-child {
	margin:0px;
	text-align-last: justify;
}

#ss_topPage {
	z-index: 3;
	border-bottom: 1px solid black;
}

#ss_bottomPage {
	z-index: 1;
}

#ss_prepPage {
	z-index: -1;
}

.ss_nav_button {
	z-index: 6;
	position: absolute;
	top:0px;
	left:0px;
	cursor: pointer;
}

.ss_progress_indicator {
	font-size: small;
	z-index: 8;
	position: absolute;
	bottom: 20px;
	text-align: center;
	display: block;
}

.ss_image {
	clear:both;
	display:block;
	float:none!important;
}

.ss_top_hider {
	position: absolute;
	z-index: 5;
	background-color: #f8f8f8;
	display:block;
}
.ss_right_hider {
	position: absolute;
	z-index: 2;
	background-color: #f8f8f8;
	display:block;
	height: 100%;
}

.ss_control_button {
	z-index: 7;
	position: absolute;
	cursor: pointer;
	padding: 2px;	
	bottom: 3px;
}

.ss_play_button {
	right: 52px;
}

.ss_slow_button {
	right: 2px;
}

.ss_fast_button {
	right: 28px;
}

.ss_scroll_speed {
	bottom: 36px;
	right: 2px;
	color: cornflowerblue;
	font-size: small;
}

.ss_refresh_button {
	z-index: 7;
	position:absolute;
	cursor:pointer;
	left: 5px;
	padding: 2px;
	top: 5px;
}

.ss_bug_button {
	z-index: 7;
	position:absolute;
	cursor:pointer;
	left: 5px;
	padding: 2px;
	top: 63px;
}

.ss_debug_label {
	z-index: 7;
	position:absolute;
	top: 0px;
	right: 0px;
	padding: 2px;
	color: #8f8f8f;
}

.ss_hotkey_prompt {
	z-index: 7;
	position:absolute;
	cursor:pointer;
	left: 0px;
	padding: 2px;
	bottom: 0px;
	color: #8f8f8f;
}

.ss_hotkey_container {
	
	top: 0px;
	left: 0px;
	z-index: 9;
	width: 100%;
	height: 100%;
	position:absolute;
	background-color: black;
	opacity: 0.5;
}

.ss_hotkey_dialog {
	z-index: 10;
	position:absolute;
	opacity: 1;
	display:block;
	width: 580px;
	height: 260px;
	border: solid 3px black;
	background: white;
	color: black;
	border-radius: 10px;
	padding: 10px;
}

.ss_bug_report_div {
	position:absolute;
	top: 104px;
	left: 5px;
	z-index: 10;
	width: 435px;
	padding-top: 10px;
}

.ss_unselected {
	opacity: 0.4;
}




